/target
**/*.rs.bk
Cargo.lock
.vscode
/book/book
.DS_Store
.xmake/
/zkpoly-compiler/lib
/zkpoly-compiler/target
/zkpoly-compiler/.xmake
/zkpoly-compiler/build
/zkpoly-compiler/core/src/fused_kernels/src/fused_arith*